---
import RandomLayout from "../layouts/RandomLayout.astro";
import { getRandomNumber } from "../utils";
---

<RandomLayout>
    <div class="number">{getRandomNumber()}%</div>
</RandomLayout>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
    overflow: hidden;
  }
</style>
