---
import PRDWithCookies from '../prd'
import SimpleBackground from '../templates/SimpleBackground.astro'
import TemplateA from '../templates/template-a.astro'
import { getRandomElement } from '../utils'
import SimpleVideo from '../templates/SimpleVideo.astro'

const TIERS = { S: 'S', A: 'A', F: 'F' }

const TIER_LIST = new Map([
  [TIERS.S, [TemplateA]],
  [TIERS.A, [TemplateA]],
  [TIERS.F, [SimpleBackground, SimpleVideo]],
])

const DROP_RATE = {
  [TIERS.S]: 0.1,
  [TIERS.A]: 0.3,
}

let selectedTier = TIERS.F
for (const [key] of TIER_LIST) {
  if (key === TIERS.F) continue

  const prd = new PRDWithCookies(DROP_RATE[key], key)
  const hasWon = prd.next(Astro)

  if (hasWon) {
    selectedTier = key;
    break
  }
}

const SelectedTemplateComponent = getRandomElement(TIER_LIST.get(selectedTier))
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro PRD with Cookies</title>
  </head>
  <body>
    <SelectedTemplateComponent>
      <slot />
    </SelectedTemplateComponent>
  </body>
</html>
